@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-claro: #9EA1D4;
  --azul-medio: #3F497F;
  --branco: #FFF;
  --fonte-principal: 'Ubuntu', sans-serif;
  --fonte-secundaria: 'Roboto', sans-serif;

  font-family: var(--fonte-principal);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

.switch {
  position: absolute;
  display: flex;
  align-items: center;
  gap: .5rem;
  right: 5rem;
  top: 2.5rem;
}

#light {
  background-color: #dddddd;
}
#dark {
  background-color: #191919;
}

#light .switch label {
  color: #191919;
}
#dark .switch label {
  color: #FFF;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}

#light  p {
  color: var(--cor-fonte-post);
}
#light h1{
  color: #db7979;
}
#light h2 {
  color: #db7979;
}
#light h3 {
  color: #774360;
}
#light h4 {
  color: #B25068;
}
#light a {
  color: #E7AB79;
}
#light blockquote  {
  background-color: #e9ebeb;
  border: 1px solid #000;
}
#light blockquote p{
  color: #000;
}
#light pre {
  background-color: #e9ebeb;
  border: 1px solid #000;
}
#light blockquote pre code{
  color: #000;
}


#dark p {
  color: #FFF;
}
#dark h1 {
  color: #FD8A8A;
}
#dark h2 {
  color: #F1F7B5;
}
#dark h3 {
  color: #A8D1D1;
}
#dark h4 {
  color: #9EA1D4;
}
#dark a {
  color: #F8F5E4;
}
#dark blockquote  {
  background-color: #494949;
  border: 1px solid #FFF;
}
#dark blockquote p{
  color: #fbfbfb;
}
#dark pre {
  background-color: #494949;
  border: 1px solid #FFF;
}
#dark pre code {
  color: #fbfbfb;
}

@media (max-width: 1100px) {
  .switch {
      right: 7.7rem;
      top: 3.2rem;
  }
}

@media (max-width: 744px) {
  .switch {
    right: 1rem;
    top: 1.7rem;
  }
}

@media (max-width: 520px) {
  .switch {
    right: .3rem;
    top: 1.7rem;
  }
}

@media (max-width: 320px) {
  .switch {
    right: 6.3rem;
    top: 3.5rem;
  }
}